node_modules
lib
system
package-lock.json
tsconfig.json
.vscode
**/backgroud scripts
**/scratch
**/src/Access Control
**/src/Client Development
**/src/Data Model
**/src/Miscellaneous
**/src/Navigation
**/src/Service Portal/Instances
**/Service Portal Pages