<div id="title" class="col-xs-12" ng-if="::options.hide_title === 'false'">
    <h1>{{::options.title || "Hello there!"}}</h1>
</div>

<section id="errors" aria-label="Error messages" ng-if="data.error" class="col-xs-12">
    <ul>
        <li ng-repeat="error in data.errorMessages" class="alert alert-warning" role="alert">
            {{error}}
        </li>
    </ul>
</section>

<section id="controls" aria-label="List search and sort controls" class="col-xs-12 form-inline" ng-if="c.displayControls">

    <div class="form-group search" role="search">
        <div class="input-group">
            <input type="search" aria-label="Search text" class="form-control" placeholder="Search for..." ng-model="c.searchInput"
                ng-disabled="c.loading">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="c.search()"
                    ng-disabled="c.loading">${search}</button>
                <button class="btn btn-danger" type="button" ng-click="c.search(true)"
                    ng-disabled="c.loading">${clear}</button>
            </div>
        </div>
    </div>

    <div class="form-group form-inline sort">
        <label for="sortingMenu">${sort_by_text}</label>
        <select class="form-control" name="sortingMenu" id="sortingMenu"
            ng-options="option as option.display for option in data.sortOptions track by option.id"
            ng-model="c.currentSort" ng-change="c.sort()" ng-disabled="c.loading">
        </select>
    </div>
</section>

<section id="item-list" aria-label="Item list" class="col-xs-12">
    <ul id=items ng-if="!c.noResults">
        <li class="panel panel-default list-item" ng-repeat="item in c.items">
            <a class="panel-body item-body" ng-href="{{c.generateLink(item.url)}}">

                <!-- if icon is available we'll show that and the class name of item -->
                <div ng-if="item.icon !== null && item.icon !== undefined" class="item-type">
                    <div class="fa fa-2x" ng-class="'fa-' + item.icon"></div>
                    <small class="text-muted text-center">{{item.sys_class_name}}</small>
                </div>

                <!-- template provided in list source definition -->
                <div ng-include="item.templateID" class="item-content"></div>

                <!-- using the back-up list template on when no template is provided -->
                <div ng-if="data.listTemplates[item.templateID] == null">
                    <h3>{{item.title}}</h3>
                    <p ng-repeat="field in item.primary_fields">{{field.display_value}}</p>
                </div>

            </a>
        </li>
    </ul>

    <div ng-if="c.noResults" class="text-center" aria-label="">
        <h3>${noResultsText}</h3>
    </div>

</section>

<section ng-if="c.displayControls && !c.noResults" aria-label="Load more list items" class="col-xs-12">
        <button type="button" ng-if="!c.noMoreResults" class="btn btn-default center-block" ng-disabled="c.loading" aria-label="${loadMoreItems}"
            ng-click="c.loadMore()">${loadMoreItems}</button>
</section>